* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    /* background-color: rgb(197, 197, 197); */
}

=======
<<<<<<< HEAD
    /* background-color: rgb(197, 197, 197); */
}

=======
}
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
main {
    background-color: rgba(224, 224, 224, 0.744);
    min-height: 100vh;
    overflow: hidden;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 74b14f5 (update)
/* .icon-nav {
    position: relative;
    color: #FFFFFF8C;
}
.icon-nav:hover {
    color: white;
} */

<<<<<<< HEAD
=======
=======
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.text-links {
    cursor: pointer;
}

.links-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
<<<<<<< HEAD
    background-color: #006786e0;
=======
<<<<<<< HEAD
    background-color: #006786e0;
=======
    background-color: #0008ffe0;
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
    padding: 10px;
    width: 200px;
    z-index: 9999;
    border-radius: 10px;
    visibility: hidden;
}

.activeLogin {
    visibility: visible;
    opacity: 1;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 74b14f5 (update)
.links-login>a:hover {
    color: #fa9191;
}

.links-login>a {
<<<<<<< HEAD
=======
=======
.links-login > a:hover {
    color: #ff5b5b;
}

.links-login > a {
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
    color: #fff;
}

.circle {
    position: absolute;
    top: -1px;
    right: -5px;
    border-radius: 50%;
    background-color: rgba(249, 32, 32, 0.86);
    color: white;
    font-size: 12px;
    padding: 2px 9px;
}
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.notif {
    position: relative;
    display: inline-block;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 74b14f5 (update)

.fa-bag-shopping {
    font-size: 24px;
    color: rgba(249, 249, 249, 0.686);
}

.fa-bag-shopping:hover {
    color: rgba(255, 255, 255, 0.867);
<<<<<<< HEAD
=======
=======
.fa-bag-shopping {
    font-size: 24px;
    color: rgba(255, 242, 0, 0.686);
}
.fa-bag-shopping:hover {
    color: rgba(255, 242, 0, 0.686);
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
}

section {
    min-height: 80vh;
}

/* style footer */
footer {
    position: static;
    bottom: 0;
<<<<<<< HEAD
    background-color: #025464;
=======
<<<<<<< HEAD
    background-color: #025464;
=======
    background-color: #0048ff;
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
    color: white;
}

/* sidebar */
.sidebar {
    position: fixed;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 74b14f5 (update)
    width: 270px;
    height: 97vh;
}

<<<<<<< HEAD
=======
=======
    width: 250px;
    height: 97vh;
}
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.sidebar a {
    text-decoration: none;
    color: white;
}
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.sidebar li {
    list-style: none;
    padding: 10px 5px;
}
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.sidebar li:hover {
    background-color: rgba(217, 217, 217, 0.518);
    border-radius: 10px;
    margin: 0;
}
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> 2f36051 (update)
>>>>>>> 74b14f5 (update)
.sidebar h5 {
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-align: center;
}
